.App {
  text-align: center;
}
body {
  font-family: 'Baloo 2', cursive;
}
.productos {
  min-height: 26rem;
}
.nav-item:active {
  border-bottom: oldlace;
}
.titulo {
  color: #fff;
  font-weight: 800;
  display: flex;
  font-size: 5rem;
  text-transform: uppercase;
  align-items: center;
  height: 100%;
  text-shadow: -5px 7px 2px rgba(0,0,0,0.29);
}
.titulo-logo {
  text-shadow: -5px 7px 2px rgba(0,0,0,0.29);
}
.bg-purple {
  background-color: #575b9d;
}
.c-purple {
  color:#575b9d;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.linkCompra:hover {
    color:#575b9d;
    font-weight: 800;
}
.bg-toast {
  background-color: rgb(114 116 153);
}
.buscador {
  height: 16rem;
  z-index: 99;
  overflow-y: scroll;
  width: 20rem;
  right: 5rem;
}
.input-buscador {
  width: 16rem;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  transition: 1s;
}
.cart {
  top: -1rem;
}
.item-buscador {
  cursor: pointer;
  z-index: 99;
  height: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.form-control:focus {
  border-color: #bfbcd6b3;
  box-shadow: 0px 0px 3px 1px #cdc9e7b3;
}
.fin-compra:focus{
  box-shadow:  2px 2px 5px #575b9d;
  border-color: rgba(87, 91, 157, 0.5);
}
.form-select:focus{
  border-color: #bfbcd6b3;
  box-shadow: 0px 0px 3px 1px #cdc9e7b3;
}
.item-buscador:hover {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ebecec;
}
.descripCart {
  width: 10rem;
}
.card-thumb {
  width: 8rem;
  margin: 1rem;
}
.card:hover {
  border-color: rgba(87, 91, 157, 0.5);
}
.itemCarrito:hover {
  background-color: #f8f9fa;
}
.delet {
  display: none;
}
.title-buscador {
  height: 2rem;
}
.itemCarrito:hover > .delet{
  display: block;
}
.fa-search {
  right: 1rem;
  top: 5px;
  cursor: pointer;
}
.fa.shopping {
  margin-top: 0.5rem;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.cart {
  height: 100%;
  min-width: 40rem;
}
.fa-trash-alt:hover {
  font-size: 1.6rem;
  box-shadow: #f8f9fa;
}
.btn-outline-purple {
  color: #575b9d;
  border-color:#575b9d;

}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #575b9d;
  border-color: #575b9d;

}
.descripcion {
  width: 25rem;
  height: 25rem;
}
.search {
  right: 6rem;
  top: -1rem;
}
/* .carousel-inner {
  max-height: 40rem;
  height: 100%;
} */
.home {
  z-index: 99;
  width: 100%;

}
.h-bg {
  height: 38rem;
}
.bgAccesorios {
  background-image: url('assets/img/banner-accesorios-opacidad.jpg');
  background-size: cover;
  background-position: center center;
}
.bgJuguetes {
  background-image: url('assets/img/banner-juguetes-opacidad.jpg');
  background-size: cover;
  background-position: center center;
}
.bgCalzado {
  background-image: url('assets/img/banner-calzado-opacidad.jpg');
  background-size: cover;
  background-position: center bottom;
}
.bgItem {
  background-color: #575b9d;
  height: 100%;
  min-height: 10rem;
} 
.nav-item:hover, .active {
  border:1px solid #f8f9fa;
  border-radius: 10px;
}

.bg-exito {
    background-image: url('assets/img/pattern-ESTDSBU.png');
    background-position: center center;
    background-size: 507px auto;
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 30rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
