.App {
  text-align: center;
}
body {
  font-family: 'Scheherazade New', serif;
}
.bg-purple {
  background-color: #32355d;
}
.c-purple {
  color:#8e63dd;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.search:hover {
    background-color:#8e63dd; 
    color:#fff;
}
.btn-outline-purple {
  color: #8e63dd;
  border-color:#8e63dd ;

}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #8e63dd;
  border-color: #8e63dd;

}
.backgroundNavBar {
  background-image:url('./assets/img/banner.jpg');
  background-position: 50% 66%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
